.contact {
  background: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 25px; /* space between icons */
  margin-top: 15px;
}

.contact-icons a {
  color: #7a7aff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icons a:hover {
  transform: scale(1.3);
  color: white;
}
